@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@600&family=Caprasimo&family=Montserrat:wght@600;700&family=Quicksand:wght@300&family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@600;700&family=Be+Vietnam+Pro:wght@200;400&family=Caprasimo&family=Fira+Sans+Condensed:wght@500&family=Montserrat:wght@100;600;700&family=Quicksand:wght@300&family=Signika+Negative&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  font-family: 'Montserrat', sans-serif;
    }
body{
    width: 100%;
    height: 100vh;
}
.container h1 {
    font-family: 'Fira Sans Condensed';
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
  }
  .container h1:hover {
    transition: 20ms;
    cursor: pointer;
    color: #f77f00;
  }
  h2 {
    color: #f77f00;
    font-size: 25px;
    text-align: center;
  }
  .container h2:hover {
    transition: 20ms;
    cursor: pointer;
    color: #1280ff;
  }

.background .shape{
   
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    height: 200px;
    width: 200px;
   
    right: 50px;
    top: 180px;
    animation-name:circuloanimacion ;
    animation-duration: 8s;
    animation: circuloanimacion 8s linear infinite;
    transition: background-color 6s;
    

}

@keyframes circuloanimacion {
    
    0% {
       background-color: #126aef;
        transform: translateX(0px) translateY(0px);
      }
      10% {
        background-color: #1363ea;

        transform: translateX(10px) translateY(-10px);
      }
      20% {
        background-color: #1363ea;

        transform: translateX(20px) translateY(-20px);
      }
      30% {
        background-color: #2848c2;


        transform: translateX(30px) translateY(-30px);
      }
      40% {
        background-color: #21046b;

        transform: translateX(35px) translateY(-35px);
      }
      50% {
        background-color: #262588;

        transform: translateX(30px) translateY(-30px);
      }
      60% {
        background-color: #2641ae;
        transform: translateX(25px) translateY(-25px);
      }
      70% {
        background-color: #1363ea;
        transform: translateX(20px) translateY(-20px);
      }
      80% {
        background-color: #1a63e1;
        transform: translateX(15px) translateY(-15px);
      }
      90% {
        background-color: #1261d8;
        transform: translateX(10px) translateY(-10px);
      }
      100% {
        background-color: #126aef;
        transform: translateX(0px) translateY(0px);
      }
}
.shape:last-child{
    height: 150px;
    width: 150px;
    /*background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );*/
    left:700px;
    bottom: 80px;
    animation-name:ciculo2 ;
    animation-duration: 8s;
    animation: ciculo2 8s linear infinite;
    transition: background-color 6s;
}
@keyframes ciculo2 {
    
    0% {
       background-color: #ff512f;
        transform: translateX(0px) translateY(0px);
      }
      10% {
        background-color: #fe5b2b;

        transform: translateX(10px) translateY(10px);
      }
      20% {
        background-color: #fd6427;

        transform: translateX(20px) translateY(20px);
      }
      30% {
        background-color: #fc6924;


        transform: translateX(30px) translateY(30px);
      }
      40% {
        background-color: #fb7121;

        transform: translateX(35px) translateY(35px);
      }
      50% {
        background-color: #f9781e;

        transform: translateX(30px) translateY(30px);
      }
      60% {
        background-color: #f87f1b;
        transform: translateX(25px) translateY(25px);
      }
      70% {
        background-color: #fb7121;
        transform: translateX(20px) translateY(20px);
      }
      80% {
        background-color: #fc6924;
        transform: translateX(15px) translateY(15px);
      }
      90% {
        background-color: #fd6228;
        transform: translateX(10px) translateY(10px);
      }
      100% {
        background-color: #fe5a2b;
        transform: translateX(0px) translateY(0px);
      }
}
form{
    height: 300px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;

}
form:hover{
    transition: 20ms;
    cursor: pointer;
    backdrop-filter: blur(20px);
}
.login-right img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;

}



.login-right{
    background-color: #1c1c1c;
    width: 50%;
    height: 100dvh;

    overflow: hidden;
   float: right;
  
}

.container{
    margin-top: 10%;
    font-size: 40px;
    text-align: center;
    position: relative;
color: #eaf0fb;
}



.login-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(154,154,154,1) 0%, rgba(222,219,219,1) 35%, rgba(251,251,251,1) 100%);
  }
  .formleft h2{
    margin-top: 40px;
    color: #eaf0fb;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Amiko';
  }
  .formleft h2:hover{
    transition: 20ms;
    cursor: pointer;
    color: #f77f00;

  }
  .login-left input {
    font-family: 'Be Vietnam Pro';
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 20px;
    padding: 0 40px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    border-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #4f4f4f;
    box-shadow: 0 0 0 0 #4f4f4f;

    
  }
 .inputgruop{
    margin: auto;
    display: flex;
    align-items:center ;
    position: relative;
 }
 .icono{
    position: absolute;
    left: 10px;
    margin-top: 20px;
 }

  .inputform:hover{
  
    transition: 9ms;
 
    
    border: 2px solid #f77f00;
  

    cursor: pointer;
  }
  .inputform:focus {
    color: #ffb004;
    border: 2px solid #f77f00;
  }
  .inputform:not(:focus) {
    color: #ffb004;
    background-color: #232323;
    outline-color: #f77f00;

  }

  .formleft {
    background-color: #232323;
  
    height:450px;
    width:350px; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    position: relative;
    float: left;
    left: 25%;
  }
  .formleft:hover{
    transition: 20ms;
    border: 1px solid #f77f00;
    cursor: pointer;
    box-shadow: 0 0 20px #f77f00;

  }



.formleft button {
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 50px;
    background-color:  rgba(255, 255, 255, 0.07);
   
    margin-top: 40px;
    margin-bottom: 50px;
 
    color: #ffffff;
  
    font-size: 15px;
    padding: 10px 50px;
    cursor: pointer;

    border: 1px solid #4f4f4f;
    box-shadow: 0 0 0 0 #4f4f4f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   
}

.formleft button:hover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 9ms;
    border-radius: 30px;
    background-color: #f77f00;
    border: 3px solid #f77f00;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    }


    /*Media quyerys*/
    @media (min-width: 768px) {
        .login-left {
            width: 50%;
        }
        .login-right {
            width: 50%;
        }
    }
    /* Estilos para tablets en orientación horizontal (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .login-container {
        flex-direction: row;
    }
    .login-left, .login-right {
        width: 50%;
    }
}

/* Estilos para tablets en orientación vertical (portrait) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .login-container {
        flex-direction: column;
    }
    .login-left, .login-right {
        width: 100%;
    }
}

/* Estilos para dispositivos más pequeños como teléfonos */
@media (max-width: 767px) {
    .login-container {
        flex-direction: column;
    }
    .login-left, .login-right {
        width: 100%;
    }
    .login-right {
        order: -1; /* Reordena el lado derecho arriba */
    }
    .inputgruop {
        flex-direction: column;
        align-items: flex-start;
    }
    .inputform {
        width: 100%;
    }
    
}

/*circulos*/

